* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 10rem;
    background: #23424a;
}

.content {
    color: white;
    width: 50%;
    max-width: 750px;
}

.cta {
    background: turquoise;
    color: #333;
    font-size: 1.5rem;
    padding: 1em 2em;
    border: 0;
    border-radius: 50px;
    margin-top: 50px;
}
